* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 12px;
  background-color: #9193e2;
}

section {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
  width: 300px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.591);
}

footer > p {
  font-style: italic;
}
